@charset "utf-8";

div.nineToolBar {
}

img.nineToolImg{
	margin : 0 0 0 3px;
	vertical-align:bottom;
	cursor: pointer;
}

img.nineToolImg:hover {
}

div.nineToolGroup {
	display : inline-block;
	margin : 0 0 0 5px;
}

img.nineToolGroupImg{
	margin : 0 0 0 1px;
	vertical-align:bottom;
	cursor: pointer;
}
